<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 margin"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
  <h2>Section formation</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>formation</th>
          <th>description</th>
          <th>start</th>
          <th>end</th>
          <th>volume</th>
          <th>module</th>
          <th>stagiaire</th>
          <th>Liens</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let formation of formationDetail">
          <td>{{formation.formation}}</td>
          <td>{{formation.description}}</td>
          <td>{{formation.start}}</td>
          <td>{{formation.end}}</td>
          <td>{{formation.volume}}</td>
          <td>{{formation.module}}</td>
          <td>{{formation.stagiaire}}</td>
          <a routerLink="/detailFormation/{{formation.id}}">click here</a>
        </tr>
      </tbody>
    </table>
  </div>
</main>
