<section class="countainer">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 margin"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <h2>Detail formation</h2>
    <h3 class="row">
      Titre de la formation
    </h3>
    <div class="row" >
      <p> {{detailFormation.title}}</p>
    </div>
    <h3 class="row">
      Detail de la formation :
    </h3>
    <div class="row" >
      <p> {{detailFormation.description}}</p>
    </div>
    <h3 class="row">
      Date de la formation :
    </h3>
    <div class="row">
        <p>debut de la formation : {{detailFormation.start}}</p>
    </div>
    <div class="row">
        <p>fin de la formation : {{detailFormation.end}}</p>
    </div>
    <h3 class="row">
      Volume horraire :
    </h3>
    <div class="row">
      <p>{{detailFormation.volume}} heures</p>
    </div>
    <h3 class="row">
      Stagiaire(s) dans cette formation :
    </h3>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let student of students">
          <td>{{student.firstname}}</td>
          <td>{{student.lastname}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>module</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let module of modules">
          <td>{{module.title}}</td>
        </tr>
      </tbody>
    </table>

  </main>
</section>
